# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db-shm
*.db-wal
*.opendb
*.db
*.tlog
*.tlog
*.tlog
*.db
Server/.vs/TP_Server/v16/.suo
*.db
*.pdb
*.db
Client/.vs/TP_Client/v16/Browse.VC.db
Client/.vs/TP_Client/v16/.suo
*.db

Client/.vs
**/.vs
**/Debug
**/x64
**/**/x64
**/**/Debug